---
import Layout from '@layouts/Layout.astro'
import Horizontal from '@components/Horizontal.astro'
import { eventos } from '@utils'

---

<Layout>
  <div class="background">
    <div class="flex flex-col place-items-center font-bold tracking-wider text-white">
      <img src="/calendario.png" />
      <h1 class="uppercase pt-8">Eventos</h1>
      <p>- Dash en Venezuela -</p>
    </div>
  </div>
  {
    eventos.map(evento => (
      <Horizontal 
        title={evento.title}
        content={evento.content}
        image={evento?.image}
        hasCTA={evento.hasCTA}
      />
    ))
  }
</Layout>

<style>
  .background {
    font-family: 'Montserrat Variant', sans-serif;
    height: 26rem;
    padding: 6rem 0;
    background-image: url('/eventos.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
</style>