---
import { exchangeLinks, installerLinks } from '@utils'

---

<section class="custom-container">
  <div class="mx-8 sm:w-1/2">
    <h2 class="text-background">Tus primeros Cripto-pasos</h2>
    <p class="font-bold tracking-widest">1. Descarga tu Dash Wallet.</p>
    <div class="py-4 custom-grid grid-cols-2">
      {
        installerLinks.map(installer => (
          <a href={installer.link} rel="noopener noreferrer" target="_blank">
            <img src={installer.image} />
          </a>
        ))
      }
    </div>
    <p class="font-bold tracking-widest">2. Coloca tu clave de acceso y guarda tu frase de recuperación.</p>
    <p class="font-bold tracking-widest">3. Compra tus Dash con Bolívares en:</p>
    <div class="py-4 custom-grid grid-cols-2 grid-rows-2">
      {
        exchangeLinks.map(exchange => (
          <a href={exchange.link} rel="noopener noreferrer" target="_blank">
            <img src={exchange.image} />
          </a>
        ))
      }
    </div>
  </div>
  <div class="sm:w-1/2 flex justify-center">
    <img src="/crypto-pasos.png" />
  </div>
</section>