---
import ResponsiveMenu from '@components/vue/ResponsiveMenu.vue'
import { menuLinks } from '@utils'

---

<nav class="w-full border-b divide-slate-700">
  <div class="container mx-auto flex justify-between p-4">
    <a href="/">
      <img src="/logo-topdash-city.png" alt="Logo TopDashCity"/>
    </a>
    <ResponsiveMenu client:load menuLinks={menuLinks} />
  </div>
</nav>