---
const { prevUrl, nextUrl, currentPage } = Astro.props
---

<div class="w-full pb-8 flex justify-around sm:w-1/3 sm:mx-auto">
  {
    <a 
      href={ prevUrl } 
      class:list={["button rounded-l-lg", {'invisible': !prevUrl}]}
    >
      &laquo; Anterior
    </a>
  }
  <div class="mt-4 tabular-nums">Página { currentPage }</div>
  {    
    <a 
      href={ nextUrl } 
      class:list={["button rounded-r-lg", {'invisible': !nextUrl}]}
    >
      Siguiente &raquo;
    </a>
  }
</div>
